MONGO_URI=mongodb://localhost:27017/pizza-palace
JWT_SECRET=change_this_secret
PORT=5000
NODE_ENV=development
CLIENT_URL=http://localhost:5173,https://pizza-palace-gules.vercel.app
RAZORPAY_KEY_ID=rzp_test_xxxxxxxx
RAZORPAY_KEY_SECRET=your_test_secret
